<app-patient-header></app-patient-header>
<article id="patient_main_wrapper">
  <app-patient-sidebar></app-patient-sidebar>
  <div id="patient_content">
    <div *ngIf="responseBubble" id="response_bubble_container" [ngClass]="responseBubble && responseBubble.isError ? 'response_bubble_error':'response_bubble_success'">
      <p id="response_bubble_message">{{responseBubble.message}}</p>
      <img src="../../../assets/images/icons/close_icon.png" alt="close" id="response_bubble_close" (click)="clearResponseBubble()" />
    </div>
    <h1>Your Profile</h1>
    <p>{{person.name}}</p>
    <p>{{person.email}}</p>
    <p>{{person.phone}}</p>
  </div>
</article>
<app-patient-footer></app-patient-footer>