#nurse_sidebar_wrapper {
    width: 225px;
    height: 100%;
    background-color: #888888;
  }
  
  #nurse_sidebar_list {
    list-style: none;
  }
  
  #nurse_sidebar_list > a {
    text-decoration: none;
    color: #EEEEEE;
    align-items: center;
    justify-items: center;
  }
  
  #nurse_sidebar_list > a > div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  #nurse_sidebar_list > a > div:hover {
    background-color: #AAAAAA;
  }