<app-patient-header></app-patient-header>
<article id="patient_main_wrapper">
  <app-patient-sidebar></app-patient-sidebar>
  <div id="patient_content">
    <table>
      <thead>
        <th>Medication</th>
        <th>Dosage</th>
        <th>Prescribed By</th>
      </thead>
      <tbody *ngFor="let prescription of patientPrescriptions">
        <tr>
          <td>{{prescription.medication.name}}</td>
          <td>{{prescription.dosage}}</td>
          <td>{{prescription.doctor.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
<app-patient-footer></app-patient-footer>
