<div *ngIf="selectedAppointment1">
    <h2>{{appointment.patient.name}}</h2>
    <ul>
        <li>ID: {{appointment.id}}</li>
        <li>Status: {{appointment.status}}</li>
        <li>Date: {{appointment.date | date: 'yyyy/MM/dd'}}</li>
        <li *ngIf="appointment.comment; else na">Comment: {{appointment.comment}}</li>
        <ng-template #na>
            <li>Comment: N/A
            <li>
        </ng-template>
    </ul>

    <button (click)="onClickDeny()">Deny</button>

    <div>
        <h2>Prescription</h2>
        <input [(ngModel)]="searchText" placeholder="search text goes here">
        <ul>
            <li *ngFor="let medication of medications | filterPipe: searchText" (click)="onSelectMedication(medication)">
                {{medication.name}}
            </li>
        </ul>
    
        <input [(ngModel)]="dosage" placeholder="dosage">
    
        <button>Prescribe</button>
    </div>
</div>