<!DOCTYPE html>
<!-- This is the login page.  -->
<html>
  <body>
    <div id="login_page_wrapper">
      <header id="login_header">
        <img src="../assets/images/logo/draft_logo.png" alt="ePatient Logo" id="login_logo" />
      </header>
      <article id="login_body">
        <div id="login_message">
          <p>
            This is sample.
          </p>
        </div>
        <div id="login_form_pane">
          <!-- TODO: The action should change! -->
          <form action="/??" method="post" id="login_form">
            <input type="email" name="login_email" placeholder="Email" required />
            <input type="password" name="login_password" placeholder="Password" required />
            <button>Login</button>
          </form> 
        </div>
      </article>
      <footer id="login_footer">
        <ul id="login_footer_credits">
          <li>©ePatient 2020</li>
          <li>Revature: Project 2</li>
          <li>Project created by: ...</li>
        </ul>
      </footer>
    </div>
  </body>
</html>