/* You can add global styles to this file, and also import other style files */
html, body, p, ul, li {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v5/7cHpv4kjgoGqM7E_DMs5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Header styles */
h1 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-family: "Barlow", sans-serif;
  font-size: 3em;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-family: "Barlow", sans-serif;
  font-size: 2em;
}

/* Form styles */

#mi_form_body {
  flex-grow: 1;

  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  background-color: #FFFFFF;

  font-family: "Barlow";

  box-shadow: 0 0 60px #555555;
}

#mi_form_pane {
  border-radius: 5px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: #E9E9E9;
}

#mi_message {
  font-size: 1.5em;
}

#mi_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mi_form > h1 {
  margin-top: 0;
  margin-bottom: 5px;

  font-size: 2em;
}

#mi_form > input {
  margin-bottom: 10px;
  border-style: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 1.5em;
}

#mi_form > textarea {
  margin-bottom: 10px;
  border-style: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  resize: none;

  font-size: 1.5em;
}

#mi_form > button {
  border-style: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 1.5em;

  background-color: #CC7777;
}

#mi_form > button:hover {
  cursor: pointer;
  background-color: #AA4444;
}

/* Response Bubble Styles */

#response_bubble_container {
  position: fixed;
  left: 10px;
  top: 10px;
  
  display: flex;

  flex-direction: row;
  justify-content: center;

  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  box-shadow: #333333 0 0 5px;
}

.response_bubble_error {
  background-color: #CC3333;
}

.response_bubble_success {
  background-color: #33CC33;
}

#response_bubble_message {
  font-family: "Barlow", sans-serif;
  margin-right: 5px;
}

#response_bubble_close {
  cursor: pointer;
}

/* Table Styles */

.mi_table {
  font-family: "Barlow", sans-serif;
  border-collapse: collapse;
}

.mi_table thead {
  text-align: center;
  color: #EEEEEE;
}

.mi_table th, .mi_table td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.mi_table th:nth-child(even) {
  background-color: #444444;
}

.mi_table th:nth-child(odd) {
  background-color: #555555;
}

.mi_table tr:nth-child(even) {
  background-color: #DDDDDD;
}

.mi_table tr:nth-child(odd) {
  background-color: #EEEEEE;
}

.mi_table td.no_bkgd {
  background-color: transparent;
}